<div class="wrapper animated bounce">
    <h1>Register...</h1>
    <hr>
    <form>
        <label id="icon" for="email"><i class="fa fa-envelope"></i></label>
        <input type="text" placeholder="Name" id="name">
        <label id="icon" for="email"><i class="fa fa-phone"></i></label>
        <input type="text" placeholder="Phone Number" id="phone">
        <label id="icon" for="email"><i class="fa fa-envelope"></i></label>
        <input type="text" placeholder="Email" id="username">
        <label id="icon" for="password"><i class="fa fa-key"></i></label>
        <input type="password" placeholder="Password" id="password">
        <input type="submit" value="Register">
        <hr><br>
        <br>
    </form>
  </div>
  