<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/">FoodieDelight</a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a class="nav-link" routerLink="/home" style="color:#5C4033" routerLinkActive="active">Home</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/login" style="color:#5C4033" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>
<hr>
<div>
  <router-outlet></router-outlet>
</div><br><br><br>


<footer class="footer py-4 mt-5">
  <div class="container text-center">
    <p>&copy; 2024 FoodieDelight. All rights reserved.</p>
  </div>
</footer>